
ul#top-menu > li.menu-item > ul.sub-menu{gap: 0 46px; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
ul#top-menu > li.menu-item > ul.sub-menu::before{width: 1000vw; height: 100%; top: 0; left: -100vw; background-color: #fff; box-shadow: 0 2px 5px rgba(0,0,0,.1); display: block; content: ""; position: absolute; z-index: -1;}
ul#top-menu > li.mega-menu > ul > li > ul.sub-menu > li{margin: 5px 0; display: block;}
ul#top-menu > li.mega-menu > ul > li > ul > li > a{padding: 15px 10px; border-radius: 10px; display: flex; align-items: flex-start; gap: 12px;}
ul#top-menu > li.mega-menu > ul > li > ul > li > a:hover{background-color:rgba(0,0,0,.03);}
ul#top-menu > li.mega-menu > ul > li > ul > li > a > span p{color: #62748A; font-size: 15px;}
ul#top-menu > li.menu-item > ul.sub-menu li > ul.sub-menu{padding: 22px 0; width: 100%; float: none; display: block; animation: none; -webkit-animation: none; -moz-animation: none;}
ul#top-menu > li > li > a {padding: 6px 0 6px 12px;}
ul#top-menu > li.mega-menu > li > ul {width: 100%;}
ul#top-menu > li > ul.sub-menu > li:nth-child(3){flex: 0 0 250px;}
ul#top-menu > li > ul.sub-menu > li:nth-child(3) li a{padding: 0;}
ul#top-menu > li > ul > li:not(:nth-child(3)) > ul > li > a span{font-size: 16px; padding: 0;}
ul#top-menu > li > ul > li:not(:nth-child(3)) > ul > li > a span strong{font-weight: 600;}
ul#top-menu > li > ul > li:not(:nth-child(3)) > ul > li > a span p{font-weight: 400;}
ul#top-menu > li > ul > li:not(:nth-child(3)) > ul > li > a img{width: 26px; height: 24px; padding: 0;}


.menu-video-txt{ position: absolute; left: 22px; top: 18px; color: #DCDFE3; font-size: 16px; z-index: 1; font-weight: 400;}

ul#top-menu > li > ul.sub-menu > li:nth-child(3) > ul > li > a:after {position: absolute; content:""; display: block; background: linear-gradient(0deg, rgba(23, 92, 255, 0.70) -32.83%, rgba(15, 19, 22, 0.70) 124.67%); top: 0; left: 0; width: 250px; height: 250px; z-index: 0;}
.play-btn-main{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
.play-btn-main::after{width: 50%; height:50%; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1; background-color: #fff; border-radius: 50%; content: ""; display: block; position: absolute;}
.play-btn-main img{border-radius: 50%;}
.menu-video-txt{ position: absolute; left: 22px; top: 18px; color: #DCDFE3; font-size: 16px; z-index: 1; font-weight: 400; }
.menu-video-con{position: absolute; left: 20px; bottom: 6px; color: #fff; font-weight: 600; font-family: poppins; font-size: 16px; z-index: 1;}

/*-- medai css starts here --*/
@media only screen and (max-width: 1299px) and (min-width: 1024px){
  ul#top-menu > li.menu-item > ul.sub-menu{gap: 14px;}
}
@media only screen and (max-width: 980px) and (min-width: 200px){
    ul#mobile_menu > li.menu-item > ul.sub-menu{padding: 0; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
    ul#mobile_menu > li.mega-menu > ul > li.hide-menu-item{padding: 0; border-bottom: 1px solid rgba(0,0,0,.03);}
    ul#mobile_menu > li.mega-menu > ul > li.hide-menu-item > a{display: none;}
    ul#mobile_menu > li.mega-menu > ul > li > ul.sub-menu > li{margin: 0; display: block;}
    ul#mobile_menu > li.mega-menu > ul > li > ul > li > a{padding: 15px 10px; border-radius: 10px; display: flex; align-items: flex-start; gap: 12px; border: none;}
    ul#mobile_menu > li.mega-menu > ul > li > ul > li > a:hover{background-color:rgba(0,0,0,.03);}
    ul#mobile_menu > li.mega-menu > ul > li > ul > li > a > span p{color: #62748A;}
    ul#mobile_menu > li.menu-item > ul.sub-menu li > ul.sub-menu{padding: 22px 0; display: block; animation: none; -webkit-animation: none; -moz-animation: none;}
    ul#mobile_menu > li > li > a {padding: 6px 0 6px 12px;}
    ul#mobile_menu > li.mega-menu > li > ul {width: 100%;}
    ul#mobile_menu > li > ul.sub-menu > li:nth-child(3){flex: 0 0 250px;}
    ul#mobile_menu > li > ul.sub-menu > li:nth-child(3) li a{padding: 0; position: relative;}
    ul#mobile_menu > li > ul > li:not(:nth-child(3)) > ul > li > a span{font-size: 16px;}
    ul#mobile_menu > li > ul > li:not(:nth-child(3)) > ul > li > a span strong{font-weight: 600;}
    ul#mobile_menu > li > ul > li:not(:nth-child(3)) > ul > li > a span p{font-weight: 400;}
    ul#mobile_menu > li > ul > li:not(:nth-child(3)) > ul > li > a img{width: 26px; height: 24px}
    ul#mobile_menu > li > ul.sub-menu > li:nth-child(3) > ul > li > a:after {position: absolute; content:""; display: block; background: linear-gradient(0deg, rgba(23, 92, 255, 0.70) -32.83%, rgba(15, 19, 22, 0.70) 124.67%); top: 0; left: 0; width: 100%; height: 100%; z-index: 0;}
  
}
  
